<section class="contenedor-menu">
  <div class="menu">
    <div class="menu-header">
      <p>Menu</p>
      <a (click)="closeMenu(false)">X</a>
    </div>
    <div class="menu-contenedor">
      <nav class="header_nav ">
        <ul class="nav_ul">
          <li class="nav_ul_li"><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
          <li class="nav_ul_li"><a routerLink="colecion" routerLinkActive="active">Colecciones</a></li>
          <li class="nav_ul_li"><a routerLink="search" routerLinkActive="active">Buscar</a></li>
          <li class="nav_ul_li"><a routerLink="contacto" routerLinkActive="active">Contacto</a></li>
        </ul>
      </nav>
      <!-- <div class="nenu-contenedor-select">
        <p>coño</p>
      </div> -->
    </div>
  </div>

</section>