.prod_sheard-collecion{
    text-align: center;
    padding: 40px;
    border-bottom: 1px solid #1e2021;
    height: 60%;
    p{
        color: #FBF1C7;
        padding: 8px;
        display: inline;
        letter-spacing: 1px;
    }
}