<div class="section-contacto">
  <div class="contacto-contenedor">
    <h1>Contacto</h1>
    <p>¡Pregúntanos lo que quieras! Nos pondremos en contacto contigo tan pronto como podamos.</p>
    <div class="contacto-contenedor-item">
      <form class="form" action="">

        <div class="form-item">
          <input type="text" placeholder="Te llamas">
          <input type="text" placeholder="Tu correo electronico">
        </div>
        <textarea name="" placeholder="Tu mensaje"></textarea>
        <div class="form-item-btn">
          <button>Enviar mensaje</button>

        </div>
      </form>



    </div>
  </div>
  <div class="contact-gmail">
    <p>También puede ponerse en contacto con nosotros directamente en:</p>
    <p><span>→</span>
    <b> dcodingshop@gmail.com</b>
     <span>←</span></p>
  </div>
</div>