
<div class="prod_sheard-collecion">
  <div class="sheard-collecion_contenedor ">
    <div class="colleccion_contenedor_title">
      <p>Coleccion</p>
    </div>
    <div class="colleccion_contenedor_card" *ngFor="let datalek of prodcoleccion" >
      <img 
      [src]="datalek.thema_imagen.oscuro" 
      [alt]="datalek.nombre_prod"
      [routerLink]="['/colecion/',datalek.collecion,datalek.nombre_prod]" >
      <p [routerLink]="['/colecion/',datalek.collecion,datalek.nombre_prod]">{{datalek.nombre_prod}}</p>
      <span class="precio_producto">
         PEN S/ {{datalek.precio}}
      </span>
      <p class="p-secundario">{{datalek.collecion}}</p>
    </div>
  </div>
</div>

