/* Estilos generales */
.contendor_home {
    max-width: 1100px;
    height: auto;
    margin: 0 auto;
}
.negro {
    background-color: #000;
}

.azul-marino {
    background-color: #1A2237;
}

.granate {
    background-color: #642838;
}

.chocolate {
    background-color: #31221D;
}

.rojo {
    background-color: #C62A32;
}

.griss {
    background-color: #454545;
}

.real {
    background-color: #084F97;
}

.azul-indigo {
    background-color: #476579;
}

.azul-marino-claro {
    background-color: #5C606F;
}

.verde-irlandes {
    background-color: #129447;
}

.verde-militar {
    background-color: #585C3B;
}


/* Estilos del título de la página principal */
.home_title {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #1e2021;
    padding: 30px 0;

    p {
        font-family: 'Gugi', sans-serif;
        font-size: 40px;
        color: #fff;
        font-weight: 600;
    }
}

/* Estilos de la colección de productos */
.home_colección {
    margin-top: 40px;

    p {
        text-align: center;
        margin-bottom: 20px;
        color: #7c6f64;
        letter-spacing: 1px;
    }
}

/* Estilos de los lenguajes de la colección */
.coleccion_lenguage {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 40px;

    .coleccion_lenguage-item {
        border: 1px solid #FBF1C7;
        color: #FBF1C7;
        padding: 12px;
        text-align: center;
        font-weight: 500;
        letter-spacing: 1px;
        cursor: pointer;

        &:hover {
            background-color: #FBF1C7;
            color: #1e2021;
        }
    }
}

/* Estilos de la colección de productos y detalles */
.home_colección_prod {
    display: flex;
    gap: 30px;
   padding: 25px;

    .colección_prod_image {
        display: flex;
        flex-direction: column;
     
        gap: 20px;

        .prod_image-btn {
            border-style: none;
            padding: 12px;
            background-color: #689D6A;
            color: #fff;
            font-weight: bold;
            font-size: 15px;
            text-align: center;
            letter-spacing: 1px;
        }

        .prod_image_btns {
            display: flex;
            gap: 10px;
            margin-top: 10px;
            button {
                background-color: #504845;
            }
        }
    }

    .colección_prod_details {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .prod_details_item {
        display: flex;
        gap: 50px;
        .product-title-precio{
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 10px;
            p,span{
                font-size: 20px;
                font-weight: 500;
                display: inline;
                justify-content: space-between;
            }
            p{
                color: #FBF1C7 !important;

            }
            span{
                color: #8EC07C;
            }
        }
        .details_item_1 {
            width: 100%;
            p {
                color: #7c6f64;
            }
            .p-descripcion{
                color: #a89984;
                line-height: 1.5;
                font-weight: 500;
            }
            ul{
                margin-top: 10px;
                margin-left: 10px;
                margin-bottom: 20px;
            }
            a{
                text-decoration: underline;
                color: #7c6f64;
                
            }
            .btn-agregar-prod{
                width: 100%;
                height: 56px;
                background-color: #689d6a;
                color: #fff;
                outline: none;
                border-style: none;
                font-size: 16px;
                font-weight: 600;
                cursor: pointer;
            }
            .details_item_1-btn {
                display: flex;
                align-items: center;
                gap: 10px;
                margin-top: 10px;
                button {
                    background-color: inherit;
                    padding: 12px;
                    border: 1px solid #FBF1C7;
                    letter-spacing: 1px;
                    color: #FBF1C7;
                    font-weight: 500;
                    font-family: 'Roboto', sans-serif;
                    cursor: pointer;
                    font-size: 16px;

                    &:hover {
                        background-color: #FBF1C7;
                        color: #1e2021;
                    }
                }
               
               
            }

            .details_item_1-btncolor {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                margin-top: 10px;

                button {
                    display: flex;
                    gap: 8px;
                    padding: 5px;
                    border: 1px solid #FBF1C7;
                    letter-spacing: 1px;
                    font-weight: 500;
                    font-family: 'Roboto', sans-serif;
                    cursor: pointer;
                    font-size: 15px;
                    background-color: inherit;
                    color: #FBF1C7;

                    div {
                        width: 16px;
                        height: 16px;
                    }

                    &:hover {
                        background-color: #FBF1C7;
                        color: #1e2021;
                    }
                }

                .negro {
                    background-color: #000;
                }

                /* Otras clases de colores... */
            }

            .details_item_1-btntalla {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                margin-top: 10px;

                button {
                    gap: 8px;
                    padding: 5px 12px;
                    border: 1px solid #FBF1C7;
                    letter-spacing: 1px;
                    font-weight: 500;
                    font-family: 'Roboto', sans-serif;
                    cursor: pointer;
                    font-size: 15px;
                    background-color: inherit;
                    color: #FBF1C7;

                    &:hover {
                        background-color: #FBF1C7;
                        color: #1e2021;
                    }
                }
            }
        }
    }
}
.prod_sheard-collecion{
    margin-top: 40px;

    p{
        color: #FBF1C7;
        padding: 8px;
        background-color: #3c3837;
        display: inline;
        letter-spacing: 1px;
        
    }
    img{
        max-width: 163px;
        height: 163px;
        margin-bottom: 10px;
    }
    .sheard-collecion_contenedor{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 40px 0;
        gap: 20px;
    }
    .colleccion_contenedor_card{
        display: flex;
        flex-direction: column;
        p{
            background-color: inherit;
            padding: 0;
        }
    }
    .cl-camisetas{
        .colleccion_contenedor_card{
            max-width: 251px;
        }
        p{
            word-wrap: break-word;
        }
        img{
            max-width: 100%;
            height: 251px;
        }
        span{
            color: #8EC07C;
            font-weight: 500;
            margin-top: 5px;
        }
        .p-secundario{
            font-size: 12px;
            letter-spacing: 2px;
            color: #A89984;
            margin-top: 5PX;
        }
    }
   
}
@media(max-width:1100px){
    .colección_prod_image{
        img{
            width: 500px;
        }
    }
}
@media(max-width:900px){
    .colección_prod_image{
        img{
            width: 400px;
        }
    }
    .prod_sheard-collecion{
        padding: 0 30px;
    }
}
@media(max-width:600px){

    .colleccion_contenedor_card {
        width: 45%;
        img{
            width: 100%;
            // height: 200px !important;
        }
    
    }

}
@media(max-width:800px){
    .colección_prod_details{
        .product-title-precio{
            justify-content: center !important;
            align-items: center;
        }
    }
  
    .home_colección_prod {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
   
}
