<footer class="footer">
  <div class="footer_item">
    <p class="footer_item_logo"><span>^/:</span>Dcoding<span>();</span></p>
    <p>creado en 2024</p>
  </div>
  <div class="footer_item">
    <div class="item-selected" >
      Peru (S/)
      <i class='bx bxs-down-arrow'></i>
    </div>
    <div class="item-chekout">
      <div class="chekout-card">
        <img src="https://www.leetwear.shop/assets/amex.svg" alt="amex">
      </div>
      <div class="chekout-card">
        <img src="https://www.leetwear.shop/assets/mastercard.svg" alt="mastercard">
      </div>
      <div class="chekout-card">
        <img src="https://www.leetwear.shop/assets/visa.svg" alt="visa">
      </div>
      <div class="chekout-card">
        <img src="https://www.leetwear.shop/assets/paypal.svg" alt="paypal">
      </div>
      <div class="chekout-card">
        <img src="https://www.leetwear.shop/assets/apple_pay.svg" alt="apple_pay">
      </div>
    </div>
  </div>

</footer>